# 0.1 Importing

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing Data
df = pd.read_csv(r"C:\Users\quinn\PycharmProjects\Netflix Analysis 07-23-2021\02 Data\Original Data\Netflix.csv", index_col =False)

# 0.2 Inspecting data

In [3]:
# looking at the data
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
df.shape

(7787, 12)

In [5]:
df.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

###### Thoght you would describe the duration of movie to. Since there is seasons in there and not just amount to time it was made it to a object instead of a int

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [7]:
# Lookig at the mode for the data
df.mode()["type"][0]

'Movie'

In [8]:
df.mode()["title"][0]

'#Alive'

In [9]:
df.mode()["director"][0]

'Raúl Campos, Jan Suter'

In [10]:
df.mode()["cast"][0]

'David Attenborough'

In [11]:
df.mode()["country"][0]

'United States'

In [12]:
df.mode()["date_added"][0]

'1-Jan-20'

In [13]:
df.mode()["release_year"][0]

2018.0

In [14]:
df.mode()["rating"][0]

'TV-MA'

In [15]:
df.mode()["duration"][0]

'1 Season'

In [16]:
df.mode()["listed_in"][0]

'Documentaries'

In [17]:
# Looking at value counts
df.type.value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64

In [18]:
df.director.value_counts()

Raúl Campos, Jan Suter            18
Marcus Raboy                      16
Jay Karas                         14
Cathy Garcia-Molina               13
Youssef Chahine                   12
                                  ..
Mohammad Adel                      1
Nick Cassavetes                    1
Olivier Nakache, Éric Toledano     1
Mark Harris                        1
Matt Kay                           1
Name: director, Length: 4049, dtype: int64

In [19]:
df.country.value_counts()

United States                                              2555
India                                                       923
United Kingdom                                              397
Japan                                                       226
South Korea                                                 183
                                                           ...
Philippines, United States                                    1
United Kingdom, Ukraine, United States                        1
Russia, United States, China                                  1
Ireland, Luxembourg, Belgium                                  1
Australia, United Kingdom, United Arab Emirates, Canada       1
Name: country, Length: 681, dtype: int64

In [20]:
df.date_added.value_counts()

1-Jan-20     118
1-Nov-19      94
1-Mar-18      76
31-Dec-19     76
1-Oct-18      72
            ...
10-May-15      1
31-Aug-19      1
13-May-19      1
10-Jun-16      1
10-Feb-20      1
Name: date_added, Length: 1565, dtype: int64

In [21]:
df.release_year.value_counts()

2018    1121
2017    1012
2019     996
2016     882
2020     868
        ...
1959       1
1966       1
1925       1
1964       1
1947       1
Name: release_year, Length: 73, dtype: int64

In [22]:
df.rating.value_counts()

TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

# 0.3 Data consistency checks

### Looking for mixed Data

In [23]:
# checking for mixed data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

director
cast
country
date_added
rating

### Looking for missing values

In [24]:
# checking for missing values
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

##### The reson there are mixed values is becuse there are missing values i will leave them ther for now and see if i can find a data set that has them.

### Looking for duplicate records

In [25]:
# Checking for duplicate records
df_dups = df[df.duplicated()]

In [26]:
df_dups

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

###### Looks like we are good